<div class="wrapper">
  <div class="side-bar">
  <div class = "side-head">
  <div class="header-name">
  <a href="#">Tom</a>
  </div>
  <div class="create-room">
  <a href="#">チャットを作成する</a>
  </div>
  </div>
  <div class = "side-main">
  <div class="room">
    <div class="room-name">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">techroom2</a>
    </div>
  </div>
  </div>
    <%= render "side_bar" %>
  </div>
  <div class="chat">
  <div class = "main-head">
  </div>
  <div class = "main">
  </div>
  <div class = "messages">
  </div>
    <%= render "main_chat" %>
  </div>
</div>