<div class="wrapper">
  <div class="side-bar">
  <div class = "side-head">
  </div>
  <div class = "side-main">
  </div>
    <%= render "side_bar" %>
  </div>
  <div class="chat">
  <div class = "main-head">
  </div>
  <div class = "main">
  </div>
  <div class = "messages">
  </div>
    <%= render "main_chat" %>
  </div>
</div>